* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f4f2;
}

body nav {
  position: fixed;
  height: 4rem;
  background-color: rgba(240, 244, 242, 0.2);
  width: 100%;
  z-index: 5;
  padding-top: 0.2rem;
}

body nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

body nav ul li {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: #815349;
  padding: 1rem;
  margin: 0 0.5rem;
}

body nav ul li a:link {
  text-decoration: none;
}

body nav ul li:hover {
  text-shadow: 5px -1px 3px rgba(131, 84, 73, 0.5);
}

body nav .pseudoLine {
  height: 0.3rem;
  width: 0px;
  background-color: #815349;
  position: absolute;
  top: 100%;
}

body .hero-sect {
  width: 100vw;
  display: flex;
  border: 2px solid cornflowerblue;
}

body .hero-sect .hero-img {
  background-image: url("../../../assets/zac-sturgeon-sDzof1Ps89s-unsplash.jpg");
  width: 70%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid red;
  background-position: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

body .hero-sect .blur-bar {
  height: 108vh;
  width: 8rem;
  background-color: #f0f4f2;
  position: relative;
  left: -3rem;
  filter: blur(20px);
}

body .hero-sect .blur-base {
  width: 20%;
  height: 20rem;
  border: 2px solid #815349;
}

body .hero-sect .hero-text {
  font-family: "Josefin Sans", sans-serif;
  justify-content: end;
  width: 48rem;
  align-self: flex-end;
  margin-right: 1.5rem;
  margin-bottom: 5rem;
  text-align: right;
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
}

body .hero-sect .hero-text p:first-of-type {
  color: #815349;
  font-size: 2.5rem;
  text-transform: uppercase;
}

body .hero-sect .hero-text p:nth-of-type(2),
body .hero-sect .hero-text p:nth-of-type(3) {
  color: #815349;
  font-size: 1.5rem;
}

body .hero-sect .hero-text .hero-social img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  margin-top: 0.5rem;
}

body .mission {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid green;
}

body .mission p {
  width: 830px;
  font-family: "Josefin Sans", sans-serif;
  color: #815349;
  font-size: 1.4rem;
  font-weight: 600;
  font-style: normal;
  line-height: 2.5rem;
}

body .mission .quote {
  margin: 15px;
  padding: 2.3rem;
  border: 1px dotted rgba(0, 0, 0, 0.7);
}

body .mission .picofme {
  width: auto;
  height: 635px;
}

body .mission .ar-pic {
  width: auto;
  height: 435px;
}

body .work-sect {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/foggy_ggb1024x1024.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body .work-sect .overlay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 244, 242, 0.86);
}

body .work-sect .job-details {
  display: none;
}

body .work-sect .job-details li {
  font-size: 2rem;
  font-weight: 400;
  color: #815349;
  margin-left: 2rem;
}

body .work-sect .old-jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1600px;
  border: 0.5rem dashed black;
  position: relative;
}

body .work-sect .old-jobs .work-button {
  position: relative;
  border: 0.1rem dashed black;
}

body .work-sect .old-jobs .work-button div {
  position: absolute;
}

body .work-sect .old-jobs .work-button ul {
  position: absolute;
}

body .work-sect .old-jobs .apple {
  border: none;
}

body .work-sect .old-jobs > li {
  border: 0.3rem solid #815349;
  width: 23rem;
  padding: 2rem;
  color: #815349;
  margin: 2rem;
  list-style: none;
  text-align: center;
}

body .work-sect .mas {
  position: relative;
  bottom: 45rem;
  left: 65rem;
}

body .work-sect .mas li {
  margin: 10px 0 10px;
}

/*# sourceMappingURL=main.css.map */
